name: CVE Demo

on:
  workflow_dispatch:

env:
  IMAGE: ghcr.io/priyawadhwa/nginx-cves

jobs:
  sign:
    name: "CVE Demo"
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}

      - uses: sigstore/cosign-installer@main
        with:
          cosign-release: 'v2.0.0' # optional

      - uses: imjasonh/setup-crane@v0.1

      - name: Copy image
        run: |
          set -x
          crane cp nginx $IMAGE

      - name: Sign image
        run: |
          set -x
          cosign sign -y $IMAGE

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: $IMAGE
          format: 'cosign-vuln'
          output: "trivy.json"

      - name: Sign the vulnerability scan for the image
        run: |
          set -x
          cosign attest -y --predicate ./trivy.json --type vuln $IMAGE                   
